@import url(./normalize.css);

.page {
    background-color: #2A2C2F;
    color: #fff;
}

.header {
    padding-top: 28px;
    margin: 0 auto 0;
    max-width: 1184px;
    max-height: 52px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 176px;
    height: 52px;
}

.header__lang-list {
    list-style-type: none;
}

.header__lang {
    display: inline;
}

.header__lang-link {
    color: #fff;
}

.lead {
    margin: 56px auto 0;
    max-width: 984px;
}

.lead__title {
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    max-width: 720px;
}

.lead__subtitle {
    margin: 32px auto 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    max-width: 640px;
}

.lead__image {
    margin-top: 64px;
    width: 100%;
}

.lead__caption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.intro {
    margin: 0 auto;
    max-width: 984px;
}

.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
}

.intro__text {
    max-width: 690px;
}